*{padding: 0;
margin: 0;}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

/* Nav Style */
.nav{display: flex;
justify-content: space-around;
padding: 20px; background-color: #F5F5F5;}

.nav-button{padding: 10px 15px;
    font-weight: bold;
    border-radius: 8px;
    background-color: white;
border: 1px solid #006A50;
color: #006A50;}

.logo{
font-weight: bold;}


/* Banner Style */

.banner-container{
display: flex;
background-color: rgba(198, 228, 214, 1);
padding: 50px 50px;
border-radius: 24px;
width: 80%;
height: 50vh;
margin: 100px;}

.banner-content{display: flex;
align-items: center;}

.banner-on-left{margin: 50px;
text-align: center;
align-items: start;}

.banner-on-right{padding: 50px;}

.hero-img{padding-left: 100px;
width: 400px;}

.sub-head{color: rgba(14, 14, 14, 0.5);
padding-bottom: 20px;
text-align: start;}

.banner-title{font-weight: bold;
color: rgba(14, 14, 14, 1);
font-size: 56;
padding-bottom: 25px;
text-align: start;}

.banner-btn{
    background-color: rgba(0, 106, 80, 1);
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 700;}

.banner-bttn{text-align: start;}


/* Pillars Style */

.pillar-head{
    padding: 25px;
    width: 80%;
    text-align: start;
}

.pillar-container{justify-content: center;}


.pillar-head-title
    {justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;
font-weight: bol;}

.pillar-sub-title{justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 25px;
color: rgba(14, 14, 14, 0.7);}

.pillar-content{display: flex;
justify-content: center;
gap: 30px;}

.pillar-box{padding: 25px;
padding-bottom: 50px;
width: 200px;
height: 300px;
border-radius: 16px;
background-color: rgb(238, 238, 238);
border: 1px solid rgb(250, 250, 250);}

.pillar-title{font-weight: bold;
color: rgba(14, 14, 14, 0.8);
padding-bottom: 10px;
padding-top: 10px;}

.pillars-of-bd{padding-bottom: 100px;}



/* Vision Section Style */

.vision-head{
    padding: 25px;
    width: 80%;
    text-align: start;
}

.vision-container{justify-content: center;}


.vision-head-title
    {justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;}

.vision-sub-title{justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 25px;
color: rgba(14, 14, 14, 0.7);}

.vision-content{display: flex;
justify-content: center;
gap: 80px;}

.vision-box{padding: 25px;
padding-bottom: 50px;
width: 250px;
height: 250px;
border-radius: 16px;}

.vision-box-1{background-color: rgba(84, 144, 245, 0.2);}

.vision-box-2{background-color: rgba(198, 228, 214, 1);}

.vision-box-3{background-color: rgba(247, 235, 207, 1);}

.vision-title{font-weight: bold;
color: rgba(14, 14, 14, 0.8);
padding-top: 20px;}

.vision-description{padding-top: 20px;
color: rgba(14, 14, 14, 0.7);}


/* Vision Button */

.vision-btn{text-align: start;
padding-top: 20px;}

.vision-button{
border: none;
font-weight: 700;
padding: 10px 15px;
border-radius: 8px;
color: white;}

.vision-btn-1{background-color: rgba(84, 144, 245, 1);}

.vision-btn-2{background-color: rgba(9, 161, 92, 1);}

.vision-btn-3{background-color: rgba(255, 194, 57, 1);}


/* Quote Section Style*/

.quote{
padding: 50px;
margin: 50px;
border-radius: 24px;
background-color: whitesmoke;
border: 1px solid rgba(14, 14, 14, 0.15);
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position: 50px 25%;}

.writer{padding-top:5px ;
color: rgba(14, 14, 14, 0.8);}

/* Recent News Section Style */

.news-head{
    padding-top: 100px;
    width: 80%;
    text-align: start;
}

.news-head-title
    {justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;}

.news-sub-title{justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 25px;
color: rgba(14, 14, 14, 0.7);}


/* News Box 1 */

.news-boxes{
justify-content: center;
align-items: center;
margin: 30px;
}


.news-box-1{
display: flex;
width: 80%;
background-color: whitesmoke;
border-radius: 20px;
padding:25px;
margin: 50px;
align-items: center;}


.news-box-title-1{
padding-bottom: 10px;
font-weight: bold;}

.news-logo-1{
padding-bottom: 10px;}

.news-time-1{
padding-bottom: 10px;}

.news-btn-1{
padding-top: 25px;}

.news-btn1{
padding: 10px 10px;
border: none;
background-color: rgba(0, 106, 80, 1);
color: white;
border-radius: 8px;
font-weight: 700;}

.box-1-img{
border-radius: 50px;
padding: 25px;}

.news-box-2{display: flex;}

.news-box-3{display: flex;}


/* News Box 2-3 Style*/
    .news-box-3{
    display: flex;
    background-color: whitesmoke;
    padding:25px;
    width: 80%;
    border-radius: 20px;
    margin: 50px;
    align-items: center;}
    
    
    .news-box-title-3{
    padding-bottom: 10px;
    font-weight: bold;}
    
    .news-logo-3{
    padding-bottom: 10px;}
    
    .news-time-3{
    padding-bottom: 10px;}
    
    .news-btn-3{
    padding-top: 25px;}
    
    .news-btn3{
    padding: 10px 10px;
    border: none;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-radius: 8px;
    font-weight: 700;}
    
    .box-3-img{
    border-radius: 50px;
    padding: 25px;}
    
    .news-box-3{display: flex;}
    
    .news-box-3{display: flex;}

/* Color Style */

.p-color{color: rgba(14, 14, 14, 0.7);}

.text-color{color: #0E0E0E;}

.pillar-title-color{color: rgba(14, 14, 14, 0.8)}



/* Donate Section Style*/

.donate-title{text-align: center;
padding-bottom: 20px;}

.donate-sub-title{text-align: center;}

.tk-100{
    padding: 25px 20px;
    font-weight: bold;
    font-size: 30px;
    border-color: rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background-color: none;}

    .tk-100:hover{background-color: rgb(242, 252, 185);}

    .tk-200{
        padding: 25px 20px;
        font-weight: bold;
        font-size: 30px;
        border-color: rgba(14, 14, 14, 0.15);
        border-radius: 10px;
        background-color: none;
        background-color: rgba(198, 228, 214, 1);}

        .tk-200:hover{background-color: rgba(198, 228, 214, 1);}

        .tk-500{
            padding: 25px 20px;
            font-weight: bold;
            font-size: 30px;
            border-color: rgba(14, 14, 14, 0.15);
            border-radius: 10px;
            background-color: none;}

            .tk-500:hover{background-color: rgb(199, 255, 188);}

            .tk-1000{
                padding: 25px 20px;
                font-weight: bold;
                font-size: 30px;
                border-color: rgba(14, 14, 14, 0.15);
                border-radius: 10px;
                background-color: none;}

                .tk-1000:hover{background-color: rgb(189, 234, 255);}
                

.amount-boxes{
display: flex;
gap: 35px;
margin-bottom: 20px;
margin-top: 20px;
justify-content: center;}

.enter-custom-amount{
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px 300px;
background-color: whitesmoke;
justify-content: center;}

.enter-amount{text-align: center;
justify-content: center;}

.done-btn{padding: 10px 15px;
border: none;
background-color: rgba(0, 106, 80, 1);
color: white;
font-weight: 700;
border-radius: 8px;}

.amount{text-align: center;
align-items: center;}

.enter-done-btn{padding: 20px;}

/* Subscribe Style */

.subscribe{padding: 50px;
background-color: rgba(198, 228, 214, 1);
width: 80%;
margin: 50px;
border-radius: 24px;}


.sub-title{padding-bottom: 20px;
text-align: center;}

.sub-s-title{padding-bottom: 20px;
text-align: center;}

.sub-form{
align-items: center;
justify-content: center;
display: flex;}

.sub-btn{border: none;
padding: 15px;
background-color: rgba(0, 106, 80, 1);
color: white;
font-weight: 700;
border-radius: 0px 10px 10px 0px;}

.subscribe{display: inline-block;}

.sub-input{border: none;
padding: 15px 50px;
border-radius: 10px 0px 0px 10px;
color: rgba(14, 14, 14, 0.3);}

.sub-foot{text-align: center;
padding-top:10px ;}


/* Footer Style */

.footer-container{background-color: whitesmoke;}

.foot-logos{display: flex;
justify-content: center;
padding-top: 10px;
padding-bottom: 10px;
gap: 10px;}

.foot-title{text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;}

.hr{padding-top: 10px;
padding-bottom: 10px;
color: rgba(14, 14, 14, 0.1);
width: 50%;
margin: 0 auto}


/* Text Style */

.text-bold{font-weight: bold;}